
@{
    ViewBag.Title = "Competences";
}


<div class="pb-5 text-center">
    <h1>COMPETENCES</h1>
    
</div>

<div class="pt-5 row">
    <div class="col-md-3">
        <h2>LANGAGES</h2>
        <p>
            C#
            HTML
            SQL
            CSS
            JAVASCRIPT
            JAVA
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>FRAMEWORK</h2>
        <p>
            .NET 4
            JQUERY
            XAMARIN
            ENTITY FRAMEWORK 6
            BOOTSTRAP 3 4
        </p>
    </div>
    <div class="col-md-3">
        <h2>
            BDD
        </h2>
        <p>
            SQL SERVER 2017
            SQL LITE

        </p>
    </div>
    <div class="col-md-3">
        <h2>
            LOGICIELS
        </h2>
        <p>
            VISUAL STUDIO 2019
            SSMS
            GIT
            ANDROID STUDIO 3
        </p>
    </div>
</div>



