@{
    ViewBag.Title = "Formation";
}

<div class="jumbotron">
    <h1>2019-2020 Formation AFPA</h1>
    <p class="lead">
        <ul>
            <h3>Conception et développement de:</h3>
            <li>Composants d’interface utilisateur et sécurité</li>
            <li>Persistance des données et sécurité</li>
            <li>Application multicouche répartie et sécurité</li>
        </ul>
    </p>
    <p><a href="https://github.com/DGaelle" class="btn btn-danger btn-lg">PortFolio &raquo;</a></p>

    <h2>2003 Licence Tourisme et Nouvelles Technologies - IUT de Marne La Vallée</h2>

    <h2>
        2002 BTS Tourisme-Loisirs - Ecole Supérieure de Tourisme à Paris 6e
    </h2>
</div>





