
@{
    ViewBag.Title = "Hobbies";
}


<div class="jumbotron">
    <h1>HOBBIES</h1>
    
</div>

<div class="row">
    <div class="col-md-3">
        <h2>LANGAGES</h2>
        <p>
            Voyages, cinéma, alpinisme, sport, littérature, musique
        </p>
      
</div>



