
@{
    ViewBag.Title = "Hobbies";
}


<div class="">
    <h1>HOBBIES</h1>
    
</div>

<div class="text-center">
    <div class="col-md-12">
        
        <p>
            Voyages, cinéma, alpinisme, sport, littérature, musique
        </p>
      
</div>
</div>



