
@{
    ViewBag.Title = "Landing";
}


<div class="d-flex bg-success">
    <div>
        <h1>
            Hello, Enchantée, je suis Gaëlle! Je suis développeuse d'applications en C# et ASP.NET! La programmation est un univers qui me passionne depuis toujours.. Quelques mots sur moi..
        </h1>

        <p>Autodidacte, j'aime apprendre et me former dans différents domaines. J'apprécie la programmation depuis très longtemps car j'ai pu être initiée par mon frère lui-même développeur et architecte. </p>
        <p>
            J'ai donc découvert cet univers petite déjà, avec l'Amstrad CPC 464 dans les années 80, sur lequel mon frère et  mon père programmaient en Basic.
        </p>
        <p>
            Puis lors de mes études, j'ai commencé à programmer en Html dans l'optique de développer des sites internet de tourisme, je travaillais alors pour Jet Tours dans le cadre de mes études.
        </p>
        <p>Ensuite, après une pause professionnelle (en effet, grâce à certaines opportunités je me suis orientée dans l'immobilier), j'ai fait une reconversion professionnelle l'année dernière suite à une fin de contrat. J'ai donc passé une certification à l'AFPA et je continue de me former en C# auprès de l'organisme CEGEFOS à l'heure actuelle, sans oublier Openclassroom</p>

    </div>
    <div>
        <img src="#" alt="Alternate Text" />

    </div>
    
</div>