
@{
    ViewBag.Title = "Landing";
}

<div class="d-flex flex-column col-12">
    @*<div class="card bg-card w-25 col-3 text-center mx-auto">
        <h1>
            - Bienvenue - 
        </h1>
    </div>*@



    <div class="card bg-card align-items-center">

        <div class="mr-5 mt-5 mb-5">
            <img class="photocv" src="~/images/autoselfie.jpeg" alt="Photo" />
        </div>

        <div class="ml-5 mt-5 mb-5">

            <p>
                Récemment diplômée du Titre Professionnel de Concepteur Développeur d'Applications , 
               
            </p>
            <p>
                je développe des applications web et mobiles en utilisant différents langages de programmation tels que : 
            </p>
            <p>
                C#, Java, Css, et Javascript, dans divers Frameworks, Entity Framework, Bootstrap, .Net .
            </p>
            <p>
                Je recherche activement un premier poste de développeuse web en C# Asp.Net.
            </p>
            @*<p> Me voici développeuse d'applications en C# et ASP.NET et la programmation est un univers qui me passionne depuis toujours..</p>
            <p>Diplômée du titre de Concepteur Développeur d'Applications depuis août 2020, je suis en reconversion professionnelle et contente de rentrer (enfin) dans le monde de la programmation orientée objet. </p>*@

        </div>
    </div>

    <div id="cardCompetences" class="card bg-card">
        <div class="p-5 text-center">
            <h1>COMPETENCES</h1>

        </div>
        <div id="cardCompetences" class="d-flex flex-row card bg-card">

            <div id="cardLangages" class="card bg-card col-md-3 p-5 text-center">

                <h2>LANGAGES</h2>
                <p>C#
                </p>
                <p>HTML
                </p>
                <p>SQL
                </p>
                <p>CSS
                </p>
                <p>JAVASCRIPT
                </p>
                <p>JAVA
                </p>
                @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@

            </div>
            <div id="cardFRAMEWORK" class="card bg-card col-md-3 p-5 text-center">

                <h2>FRAMEWORK</h2>
                <p>
                    .NET 4
                    JQUERY
                    XAMARIN
                    ENTITY FRAMEWORK 6
                    BOOTSTRAP 3 4
                </p>

            </div>
            <div id="cardBDD" class="card bg-card col-md-3 p-5 text-center">

                <h2>BDD
                </h2>
                <p>SQL SERVER 2017
                </p>
                <p>SQL LITE
                </p>

            </div>
            <div id="cardLOGICIELS" class="card bg-card col-md-3 p-5 text-center">

                <h2>
                    LOGICIELS
                </h2>
                <p>VISUAL STUDIO 2019
                </p>
                <p>SSMS</p>
                <p>GIT</p>
                <p>ANDROID STUDIO 3
                </p>

            </div>
        </div>
    </div>


    <div id="cardParcours" class="card bg-card">
        <div class="p-5 text-center">
            <h1>PARCOURS</h1>


        </div>
        <div class="card bg-card p-5 text-center">

            <h3>
                2020 - Stage pour la société Les Brandes
            </h3>
            <p>
                Conception et Développement d'une application de gestion de maisons d'hôte: GiteHouse
            </p>
            <h2>
                2017-2019 - Responsable d’agence chez Brotteaux Médical, à Paris 16e
            </h2>
            <p>
                Gestion d’une agence de vente et de location de matériel médical
            </p>


            <h2>
                2012-2017 - Attachée commerciale chez LCL, à Neuilly Sur Seine
            </h2>
            <p>
                Gestion portefeuille clients et proposition produits LCL:
                crédits, assurances, placements épargne..
            </p>

            <h2>
                2010-2012 - Conseillère en financement chez Cofinoga, à Paris 6e
            </h2>
            <p>Gestion d'un portefeuille clients</p>
            <p>Etude et montage de dossiers de financement (prêts et rachats de prêts)</p>


            <h2>
                2003-2010 Conseillère en immobilier chez Century21 et ERA Immobilier

            </h2>
            <p>Traitement de transactions immobilières sur Paris</p>
            <p>
                Gestion d'un fichier de clients acquéreurs et vendeurs
            </p>
            <p>
                Suivi dossiers notaires jusqu'à l'acte authentique
            </p>

        </div>

        <div class="cardFormation bg-card">
            <div class="p-5 text-center">
                <h5>FORMATION</h5>
                <h3>2019-2020 Formation AFPA</h3>
                <p class="lead">
                    <ul>
                        <h4>Conception et développement de:</h4>
                        <li>Composants d’interface utilisateur et sécurité</li>
                        <li>Persistance des données et sécurité</li>
                        <li>Application multicouche répartie et sécurité</li>
                    </ul>
                </p>
                <p><a href="https://github.com/DGaelle" class="btn btn-danger btn-lg">PortFolio &raquo;</a></p>
                <h3>
                    2020 Titre De Concepteur Développeur D'Applications
                </h3>
                <h2>2003 Licence Tourisme et Nouvelles Technologies - IUT de Marne La Vallée</h2>

                <h2>
                    2002 BTS Tourisme-Loisirs - Ecole Supérieure de Tourisme à Paris 6e
                </h2>
            </div>
        </div>
    </div>
</div>


