
@{
    ViewBag.Title = "Parcours";
}



<div class="row">
    
        <h2>
            2017-2019 Responsable d’agence chez Brotteaux Médical, à Paris 16e
        </h2>
        <p>
            Gestion d’une agence de vente et de location de matériel médical
        </p>
         
    
        <h2>
            2012-2017 Attachée commerciale chez LCL, à Neuilly Sur Seine
        </h2>
        <p>
            Gestion portefeuille clients et proposition produits LCL:
            crédits, assurances, placements épargne..
        </p>

        <h2>
            2010-2012 Conseillère en financement chez Cofinoga, à Paris 6e
        </h2>
        <p>Gestion d'un portefeuille clients</p>
        <p>Etude et montage de dossiers de financement (prêts et rachats de prêts)</p>
 

        <h2>
            2003-2010 Conseillère en immobilier chez Century21 et ERA Immobilier

        </h2>
        <p>Traitement de transactions immobilières sur Paris</p>
        <p>
            Gestion d'un fichier de clients acquéreurs et vendeurs
        </p> 
        <p>
            Suivi dossiers notaires jusqu'à l'acte authentique
        </p>
 
</div>




